body { background: #66fdc2; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 34px; display: flex; }
.block-metrics-0 { color: #3457e9; font-size: 17px; margin-bottom: 5px; }
.block-shipping-1 { color: #35c58f; font-size: 21px; margin-bottom: 5px; }
.block-cart-2 { color: #c461c7; font-size: 13px; margin-bottom: 5px; }
.block-cart-3 { color: #127cfe; font-size: 20px; margin-bottom: 5px; }
.block-sms-4 { color: #87fcc8; font-size: 19px; margin-bottom: 5px; }